<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rae.cnblogs.resource">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--  <uses-permission android:name="android.permission.READ_LOGS"/>-->

    <application
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <!--文件提供者-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities=".fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/lc_fileprovider_path"/>
        </provider>
    </application>

</manifest>
