<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rae.cnblogs.user">

    <application>
        <!--登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Login" />

        <!--网页登录-->
        <activity android:name=".activity.WebLoginActivity" />

        <activity
            android:name=".activity.FriendsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity android:name=".activity.SearchFriendsActivity" />
        <activity
            android:name=".activity.PersonalActivity"
            android:label="@string/label_personal" />
        <activity
            android:name=".activity.AvatarActivity"
            android:label="修改头像" />
        <activity
            android:name=".activity.PersonalDetailActivity"
            android:windowSoftInputMode="stateVisible" />
    </application>
</manifest>
