<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rae.cnblogs.home">

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--启动页-->
        <activity
            android:name=".LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--设置-->
        <activity
            android:name=".SettingActivity"
            android:label="@string/setting" />
        <!--系统消息-->
        <activity
            android:name=".SystemMessageActivity"
            android:label="@string/system_message" />
        <activity
            android:name=".FontSettingActivity"
            android:label="@string/font_setting" />
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/feedback"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".search.SearchActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".AboutMeActivity"
            android:label="@string/about_me" />
    </application>
</manifest>
