
*{
    word-wrap: break-word;
}
h1{
    font-size: 24px !important;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 15px;
}
h6{
    font-size: 14px;
}
a{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
#header{
    padding-bottom:20px;
}
#blog_title{
    text-align: left;
    margin-top: 25px;
    font-weight: bold;
    line-height: 32px;
}
#author{
    margin-top: 72px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 12px;
}
.author_right{
    float: left;
    margin-top: 8px;
}
.btn_author{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    white-space:nowrap;
    letter-spacing:-1px;
    box-sizing:inherit;
    text-shadow:none;
    box-shadow: none;
    outline: none;
    display: block;
    float: right;
    margin-top: 12px;
}
#author_name{
    font-weight: bold;
    display: block;
}
#blog_avatar{
    display: block;
    float: left; 
    margin-right: 12px;
    box-shadow: none;
    max-width:120px;
    max-height:120px;
}
#blog_date{
    display: block;
    color: #929292;
}
#blog_content{
    line-height:26px;
}
img{
    width: 100%;
}
.code_img_closed, .auto_width{
    width: auto;
}
.cnblogs_code_toolbar button{
    margin: 10px;

}
.container-fluid{
        overflow: auto;
}

.code_key_primary, .hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag{
    color:#0000ff;
}
.code_comment{
     color:#008000;
 }
.code_args{
     color:#000000;
 }
.code_symbol{
     color:#800080;
 }
.code_text{
     color:#800000;
 }
.code_high_night{
     color:#ff0000;
 }