<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rae.cnblogs.blog">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true">

        <activity android:name=".ContentDetailActivity" />
        <activity
            android:name=".CommentActivity"
            android:label="@string/label_comment" />
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/my_favorites" />

        <service
            android:name=".CnblogsService"
            android:exported="false"
            android:label="@string/service_name" />
    </application>
</manifest>
