<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rae.cnblogs.basic">

    <application>

        <!--移除热更新的多进程模式-->
        <service
            android:name="com.tencent.tinker.lib.service.TinkerPatchService"
            android:exported="false"
            tools:remove="process" />
        <service
            android:name="com.tencent.tinker.lib.service.TinkerPatchService$InnerService"
            android:exported="false"
            tools:remove="process" />

    </application>
</manifest>
